players=default,extra
#webroot=/amp/
extensions=
database_uri=/path/to/acoustics/conf/amp.sqlite
#LastFM::Scrobbler
[database]
data_source=/home/klange/Music/amp.sqlite

[scanner]
require_prefix=

[player.default]
name=default
module=amp.players.mplayer
rpc=amp.rpc.local
queue=TimeSlice
default_volume = 70
extensions=
#LastFM::Scrobbler
[player.extra]
name=extra
module=amp.player.mplayer
#Acoustics::Player::MPlayer
rpc=Acoustics::RPC::Local
queue=TimeSlice
default_volume=70

#[lastfm]
#apikey=46d779178cb5e43eefe754d0c1c1fecf
#secret=cc0816175d6a2af11d876b91c2bc51e1
#sk=c81f7a2c1ff5aa5005459310dc7060bb

#[webauth]
#module=Acoustics::Web::Auth::Simple
#field=REMOTE_ADDR
